pipeline/032pip split data multiple criterial.json
{
	"name": "032pip split data multiple criterial",
	"properties": {
		"activities": [
			{
				"name": "Get countryRegion",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select distinct country, region from InvoiceData\norder by country, region",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_SQLDB",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "loop countryregion",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get countryRegion",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get countryRegion').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Set COUNTRY",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "COUNTRY",
								"value": {
									"value": "@item().COUNTRY",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Set REGION",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "REGION",
								"value": {
									"value": "@item().REGION",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Copy data1",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "Set COUNTRY",
									"dependencyConditions": [
										"Succeeded"
									]
								},
								{
									"activity": "Set REGION",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderQuery": {
										"value": "@replace(replace('Select YEAR, MONTH,  INVOICEID, SALES from InvoiceData\nwhere COUNTRY = ''countryname'' AND REGION = ''regionname''', 'countryname', variables('COUNTRY')), 'regionname',variables('REGION'))",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "DS_SQLDB",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "csv_Invoicdatamult",
									"type": "DatasetReference",
									"parameters": {
										"paracountry": {
											"value": "@variables('COUNTRY')",
											"type": "Expression"
										},
										"pararegion": {
											"value": "@variables('REGION')",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			}
		],
		"variables": {
			"COUNTRY": {
				"type": "String"
			},
			"REGION": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2026-02-13T16:08:39Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}