pipeline/033pip consolidate data from mult folders.json
{
	"name": "033pip consolidate data from mult folders",
	"properties": {
		"activities": [
			{
				"name": "Get country",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "csv_consoli",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "loopincountries",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get country",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get country').output.childItems",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Set country",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "Country",
								"value": {
									"value": "@item().name",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Execute region",
							"type": "ExecutePipeline",
							"dependsOn": [
								{
									"activity": "Set country",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "034pip concoliRegion",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"Paracountry": {
										"value": "@variables('Country')",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			}
		],
		"variables": {
			"Country": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2026-02-16T12:12:48Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}