pipeline/035pip copy data cust mapping sing table.json
{
	"name": "035pip copy data cust mapping sing table",
	"properties": {
		"activities": [
			{
				"name": "Getcolumnmappings",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[dbo].[Sp_Columnmappings]",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "AzureJSONSq",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Copy data col mapping single tab",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Getcolumnmappings",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "AzureSqlSink",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false
					},
					"enableStaging": false,
					"translator": {
						"value": "@activity('Getcolumnmappings').output.firstRow",
						"type": "Expression"
					}
				},
				"inputs": [
					{
						"referenceName": "csv_noheader",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "DS_Orders",
						"type": "DatasetReference"
					}
				]
			}
		],
		"annotations": [],
		"lastPublishTime": "2026-02-16T15:42:25Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}